 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="divider">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Located in Cambridge Ontario, we have been serving the surrounding areas including Cambridge for over 20 years. We specialize in full scale home renovations and best known for our quality, reliablility and affordable work. Before we start any job, we will consult with you to ensure the work meets your needs. Request a free consultation today!</p>
                </div>
                <div class="col-md-12">
                 <hr class="divider">
                </div>
                <div class="col-md-12">
                  <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#quote-carousel" data-slide-to="1"></li>
                      <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        <!-- Quote 1 -->
                        <div class="item active">
                          <div class="row">
                            <div class="col-sm-12">
                              <p>&ldquo;The Almeida Painting and Renovations team was very professional, reliable and understanding. They clearly explained the work that needed to be done. Thanks Paul!&rdquo;</p>
                              <small><strong>Laura D</strong></small>
                            </div>
                          </div>
                        </div>

                        <!-- Quote 2 -->
                        <div class="item">
                          <div class="row">
                            <div class="col-sm-12">
                              <p>&ldquo;Fast, friendly, while maintaining quality. We have never been so happy with our renovations.&rdquo;</p>
                              <small><strong>Mark C</strong></small>
                            </div>
                          </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                          <div class="row">
                            <div class="col-sm-12">
                              <p>&ldquo;After having issues with a previous contactor, it was a breathe of fresh air to work with the Almeida Renovations team. They really understood our needs. We have recommended them to other friends and family and they have had only great experiences too!&rdquo;</p>
                              <small><strong>Andrew D</strong></small>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>                          
            </div>
          </div>
        </div>
    </section>