 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Add a bit about what is done</p>
                </div>
                
                <div class="col-md-12">
                  <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#quote-carousel" data-slide-to="1"></li>
                      <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        <!-- Quote 1 -->
                        <div class="item active">
                          <div class="row">
                            <div class="col-sm-12">
                              <p>&ldquo;quote here.&rdquo;</p>
                              <small><strong>Name 1</strong></small>
                            </div>
                          </div>
                        </div>

                        <!-- Quote 2 -->
                        <div class="item">
                          <div class="row">
                            <div class="col-sm-12">
                              <p>&ldquo;quote here.&rdquo;</p>
                              <small><strong>Name 2</strong></small>
                            </div>
                          </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                          <div class="row">
                            <div class="col-sm-12">
                              <p>&ldquo;quote here.&rdquo;</p>
                              <small><strong>Name 3</strong></small>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>                          
            </div>
          </div>
        </div>
    </section>