<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="secondary-dark">Request Free Consultation:</h2>
				<hr class="divider-secondary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form  action="//formspree.io/{{ site.email }}" method="POST" name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Full Name:</label>
							<input type="text" name="name" class="form-control" placeholder="Full Name" id="name" required data-validation-required-message="Please enter your first and last name.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
                    <div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Phone Number:</label>
							<input type="text" name="name" class="form-control" placeholder="Phone Number" id="phone">
						</div>
					</div>
                    <div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Location:</label>
							<input type="text" name="name" class="form-control" placeholder="Location" id="location">
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Email Address:</label>
							<input type="email" name="_replyto" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div>
						<input type="hidden"  name="_subject" value="New submission!">
						<input type="text" name="_gotcha" style="display:none" />
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Description of Work:</label>
							<textarea rows="5" name="message" class="form-control" placeholder="Description of Work" id="message" required data-validation-required-message="Please enter a message."></textarea>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div id="success"></div>
					<div class="row">
						<div class="form-group col-xs-12 text-center">
							<button type="submit" class="btn btn-success btn-lg">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
