    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="" alt="">
                    <div class="intro-text background-opacity">
                        <br>
                        <br>
                        <span class="name">{{ site.title }}</span>
                        <br>
                        <br>
                        <span class="skills">{{ site.skills }} <br><br></span>
                    </div>
                </div>
            </div>
        </div>
    </header>